asgiref==3.11.0
black==25.12.0
click==8.3.1
Django==5.2.8
django-stubs==5.2.8
django-stubs-ext==5.2.8
librt==0.7.4
mypy==1.19.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
pytokens==0.3.0
sqlparse==0.5.4
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
